*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'InterMedium';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Anzeigen Grotesk T';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/anzeigengrot.ttf') format('truetype');
}

body {
  font-family: 'InterMedium', sans-serif;
  font-weight: 500;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
